.navbar .navbar-nav>li>.dropdown-menu>a:hover,
        .navbar .navbar-nav>li>.dropdown-menu>a:focus {
          
            background-color: rgba(225, 212, 31, .4);
            
        }
       
       
        .page-header {
            border-color: #e7e7e7;
            margin-top: 3em;
            margin-bottom: 1.3em;
        }
        .btn-delete{
            margin-left: 1rem;
        }
        .form-search{
            margin-left: 2em;
            margin-right: 2em;
        }
        .spinner{
            margin-top: 5%;
            display: none;
        }
        .table-response{
            display: none;
        }
        .td-btn-options{
            display: none;
        }
        
        /* @midia */
        @media (max-width: 568px){
            .td-btn-options{
                display: block;
            }
            .td-default{
                display: none;
            }
        }